div.modal.fade(id=module, tabindex="-1", role="dialog", aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title(id=moduleTitle)
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            div.modal-body
                p(id=moduleBody)
            div.modal-footer
                button.btn.btn-secondary(type="button", data-dismiss="modal") Cerrar
    